body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapers.com/images/hd/netflix-background-gs7hjuwvv2g0e9fj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}

.navbar {
    z-index: 2;
    background-color: #141414;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;margin: 0;
}
.logo p {
    padding: 0;margin: 0;
    font-size: 23px;
    font-weight: bold;
    color: #E50914;
    text-align: center;
}
.navbar ul li a {
    font-weight: bold;
    text-transform: uppercase;
}
.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    font-size: 16px; 
}

.top-right a {
    color: #ffffff;
    text-decoration: none; 
    margin-left: 10px;
}

.top-right a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .navbar-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu ul li {
        text-align: center;
        padding: 10px 0;
    }

    .navbar-brand-container {
        align-items: center;
        text-align: center;
    }

    .navbar-brand-sub {
        padding-left: 0;
    }
}
form {
    margin-bottom: 20px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

form button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #166fe5;
}
.dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-menu .delete-post-button {
    color: #dc3545; 
}

.post {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}
.carousel-item img {
    height: 300px; 
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel-control-prev,
.carousel-control-next {
  align-items: center;
  justify-content: center; 
  height: auto;
  width: auto; 
  background: none;
  border: none;
  opacity: 0;
  transition: opacity 0.5s; 
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  content: '';
}

.icons {
    color: #000;
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
}

.icons i {
    cursor: pointer;
}

.post h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
}

.posted-date {
    font-size: 0.8em;
    color: #999;
}
.comments-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.comments-list li {
    color: #333;
    margin-bottom: 10px;
}

.comments-list li:before {
    content: '\2022'; 
    color: #999;
    margin-right: 5px;
}
.bi-three-dots-vertical {
    color: #000;
}
.delete-post-button, .edit-post-button {
    background-color: #fff;
}
