body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    margin: 0;
    padding: 0;
}
.greeding-title {
    padding: 0;
    margin: 0;
    font-size: 4vw; 
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 4vh;
    text-align: center;
}
.title {
    font-size: 3vw; 
    font-weight: bold;
    color: #ff1622;
    display: block;
    margin-top: 3vh;
    text-align: center;
}
img {
    height: 50px;
    width: auto;
}
@media screen and (max-width: 1200px) {
    .greeding-title {
        font-size: 10vw;
    }
    .title {
        font-size: 8vw;
    }
    img {
        height: 100px;
        width: auto;
    }
}
a {
    color: #fff;
}
.bold-text {
    font-weight: bold;
    color: #e50914;
}
.registration-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(153, 112, 112, 0.1);
}

.registration-form input[type="text"],
.registration-form input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #731116;
}

.registration-form span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.registration-form span a {
    color: #000;
    font-style: italic;
}

.registration-form span a:hover {
    text-decoration: underline;
}
.roles {
    padding-bottom: 10px;
}
